<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', 'food_index', 'header', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
    
    <% if user_signed_in?  %>
      <%= render 'shared/header' %>
    <% end %>
      <p class="notice" style="color: blue;"><%= notice %></p>
      <p class="alert" style="color: blue;"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
